.about{
	width: 90%;
	margin-top: 80px;
	float:right;
	align-content: center;
}

.about p{
	width: 40%;
	margin-left: 15%;
	font-size: 15pt;
}

.about h1{
	width: 40%;
	margin-left: 15%;
	text-align: center;
}

.about p img{
	width: 200px;
	float:left;
	margin-right:15px;
}