/*
* File: aboutus.css
* Authors: Ethan Pullen & Dhruv Joshi
* Date: 2/2019
*/

/*--------Section Styling-------*/
.about{
	width: 60%;
	margin: 0px 20%;
	margin-top: 80px;
	align-content: center;
	background: #967D69;
}

.about h1{
	width: 70%;
	margin-left: 15%;
	padding-top: 50px;
	text-align: center;
	color: white;
}

.about p{
	width: 70%;
	margin-left: 15%;
	padding-bottom: 50px;
	font-size: 15pt;
}

.about p img{
	width: 200px;
	float:left;
	margin-right:15px;
}
/*--------End Section Styling-------*/

/*--------Change shade of current page-------*/
a[href="aboutus.php"]{
	background: rgba(0, 0, 0, 0.2);
}
/*--------End Change shade of current page-------*/

