/*
* File: admin.css
* Authors: Ethan Pullen & Dhruv Joshi
* Date: 2/2019
*/

/*----------General Style--------*/
html,body{
	font-family: 'Karla', sans-serif;
	background-color: #DEEAF0;
	padding-top: 15px; 
	height: 100%;
	margin: 0px;
}

.third{
	width: calc(33%);
	height: calc(100% - 100px);
	float: left;
	margin-bottom: 0px;
}
/*----------End General Style--------*/

/*----------Navigation Bar Style--------*/
.nav_bar {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	position: fixed;
	padding: 0px;
	text-align: center;
	top: 0px;
	z-index: 1;
}

header a:hover, #logout:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

header a{
	font-family: 'Karla', sans-serif;
	font-size: 15pt;
	padding: 5px;
	color: white;
	display: inline-block;
	width: calc(30% - 15px);
	text-decoration: none;
}

#logout{
	font-family: 'Karla', sans-serif;
	font-size: 15pt;
	padding: 5px;
	color: white;
	display: inline-block;
	width: calc(10% - 15px);
	text-decoration: none;
}

#logout_button {
	font-family: 'Karla', sans-serif;
	font-size: 15pt;
	color: white;
	width: 100%;
	background: transparent;
	border: transparent;

}

#logout_button:active {
	border: none;
	outline: none;
}
/*----------End Navigation Bar Style--------*/


/*----------Admin.php Navigation page Style--------*/
.left, .center, .right {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #5C6164;
}

.left a, .center a, .right a{

	display: block;
	padding-top: 50%;
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-size: 30px;
	color: #5C6164;
}

.left{
	background: #D6CABC;
}

.center{
	background: #F0EFEA;
}

.right{
	background: #EAE4DC;
}

.left:hover{
	background: #C6BAAC;
}

.center:hover{
	background: #E0DFDA;
}

.right:hover{
	background: #DAD4CC;
}
/*----------End Admin.php Navigation page Style--------*/

/*----------Home Style--------*/
h1 {
	margin-left: 10px;
}

#home_div{
	color: #5C6164;
}

#home_form{
	padding: 8px;
	width: 325px;
	border: 1px solid #5C6164;
	margin-bottom: 20px;
	margin-left: 10px;
}

#image_div{
	background-color: #ABD2D9;
	width: 24%;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

#image_div img{
	width: 100%;
}

button.delete{
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	background-color: red;
	color: white;
}

#image_div:hover button.delete{
	display: block; 
}
/*----------End Home Style--------*/

/*----------Database Style--------*/

#database h1 {
	color: #5C6164;
	margin-left: 50px;
}

#database_file_chooser, #database_description{
	margin-bottom: 10px; 
}

#database_form{
	padding: 8px;
	width: 40%;
	border: 1px solid #5C6164;
	margin-bottom: 20px;
	margin-left: 50px;
}

#database .warning{
	color: red;
	margin-left: 50px;
}

#images{
	border: 1px solid #5C6164;
	padding: 3px;
	overflow-y: scroll;
	height: 300px;
	margin: 0px 50px;
}

#images img{
	height: 60px;
	width:75px;
	overflow: hidden;
	display: inline-block;
}


#images p{
	margin: 0px;
	margin-left: 15px;
	display: inline-block;

}

#images .entry{
	padding: 5px;
	display: block;
}

#images .entry:hover{
	background-color: #ABD2D9;
}
/*----------End Database Style--------*/

/*---------Testimony Style--------*/
#testimony{
	background:#AAF;
}

#test_form {
	padding: 8px;
	width: 40%;
	border: 1px solid #5C6164;
	margin-bottom: 20px;
	margin-left: 50px;
}

#testimony div{
	width: 24%;
	height:200px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

/*----------End Testimony Style--------*/