.contact{
	width: 60%;
	margin: 0px 20%;
	margin-top: 80px;
	margin-bottom: 80px;
	align-content: center;
	background: #B9B1A6;
	padding-bottom: 50px;
}

.contact p{
	width: 70%;
	margin-left: 15%;
	font-size: 15pt;
}

.contact a{
	color: black;
}

.contact a:hover{
	font-weight: bold;
}

.contact h1{
	width: 100%;
	text-align: center;
	color: black;
    margin: 0px;
    padding-top: 50px;
}

a[href="contactus.php"]{
	background: rgba(0, 0, 0, 0.2);
}