/*
* File: history.css
* Ethan Pullen & Dhruv Joshi
* 2/2019
*/


/*--------Section Styling-------*/
.section{
	width: 100%;
}

.beg{
	margin: 0px 0px;
	margin-top: 80px;
	text-align: center;
}

.beg p{
	padding: 15px 30px;
	font-size: 18pt;
	margin-top: 0px;
	margin-bottom: 35px;
}

.beg h1{
	color: white;
    margin: 0px;
    margin-top: 50px;
}
/*--------End Section Styling-------*/

/*--------Left/Right Styling-------*/
.left{
	width: 25%;
    /*min-width: 279px;*/
	margin:0px;
	float: left;
	text-align: center;
}

.left h1{
	padding-top: 10%;
    width: 90%;
    margin: 0px 5%;
    color: white;
    font-size: 36pt;
}

.right{
	float: left;
	margin-right: calc(20% - 15px);
	width: 50%;
	background-color: #B9B1A6;
}
/*--------End Left/Right Styling-------*/

/*--------Row Styling-------*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
	position:relative;
	padding-right: 15px;
}

.row.border{
	border: 8px solid #3E4F61;
}

.row.space{/*row between sections*/
	height:50px;
	background-color: #3E4F61;
}
/*--------End Row Styling-------*/

/*--------Column Styling-------*/
.col1{/*1/6 of row*/
	float: left;
	width: 16%;
	height: 100%;
	position:relative;
}

.col2{/*2/6 of row*/
	float: left;
	width: 33%;
	height: 100%;
	position:relative;
}

.col3{/*3/6 of row*/
	float: left;
	width: 50%;
	height: 100%;
	position:relative;
}

.col3 .third{/*split col3 into 3 rows*/
	margin-top: 13.5%;
}

.col4{/*4/6 of row*/
	float: left;
	width: 66%;
	height: 100%;
	position:relative;
}

.col4 .lowCap{/*caption on right of .col4*/
	width: 50%;
}

.col4 .lowCap img{/*image as caption on right of .col4*/
	width: 100%;
	margin: 0px;
}
/*--------End Column Styling-------*/

/*--------Styling Items Occupying Rows-------*/
.row img{
	margin: 15px;
	width: calc(100% - 15px);
}

.row p{
	margin: 0px 15px;
	width: calc(100% - 15px);
}

.row p.lowCap{
	position: absolute;
	bottom: 0px;
	left: 100%;
	margin: 15px 15px;
}
/*--------End Styling Items Occupying Rows-------*/

/*--------Change shade of current page-------*/
a[href="aboutus.php"]{
	background: rgba(0, 0, 0, 0.2);
}

.sidebar a[href="history.php"] span.line{
	background: rgba(0, 0, 0, 0.2);
}
/*--------End Change shade of current page-------*/
