.section{
	width: 100%;
}

.beg{
	margin: 0px 0px;
	margin-top: 80px;
	text-align: center;
}

.beg p{
	padding: 15px 30px;
	font-size: 18pt;
	margin-top: 0px;
	margin-bottom: 35px;
}

.beg h1{
	color: white;
    margin: 0px;
    margin-top: 50px;
}

.left{
	width: 25%;
	margin:0px;
	float: left;
	text-align: center;
}

.left h1{
	padding-top: 10%;
    width: 90%;
    margin: 0px 5%;
    color: white;
    font-size: 36pt;
}

.right{
	float: left;
	margin-right: calc(20% - 15px);
	width: 50%;
	background-color: #B9B1A6;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
	position:relative;
	padding-right: 15px;
}

.row.border{
	border: 8px solid #3E4F61;
}

.row.space{
	height:50px;
	background-color: #3E4F61;
}

.col1{
	float: left;
	width: 16%;
	height: 100%;
	position:relative;
}

.col2{
	float: left;
	width: 33%;
	height: 100%;
	position:relative;
}

.col3{
	float: left;
	width: 50%;
	height: 100%;
	position:relative;
}

.col3 .third{
	margin-top: 13.5%;
}

.col4{
	float: left;
	width: 66%;
	height: 100%;
	position:relative;
}

.col4 .lowCap{
	width: 50%;
}

.col4 .lowCap img{
	width: 100%;
	margin: 0px;
}

.row img{
	margin: 15px;
	width: calc(100% - 15px);
}

.row p{
	margin: 0px 15px;
	width: calc(100% - 15px);
}

.row p.lowCap{
	position: absolute;
	bottom: 0px;
	left: 100%;
	margin: 15px 15px;
}
