.press_text_box{
	width: 60%;
	margin: 0px 20%;
	margin-top: 80px;
	align-content: center;
	background: #967D69;
}

.press_text_box h1{
	width: 70%;
	margin-left: 15%;
	padding-top: 50px;
	text-align: center;
	color: white;
}

.press_text_box p{
	width: 70%;
	margin-left: 15%;
	padding-bottom: 20px;
	font-size: 15pt;
}


.img_container{
	padding: 10px;
	margin-bottom: 80px;
}

.column {
  float: left;
  width: calc(25% - 30px);
  margin: 5px;
  padding: 10px;
  background-color: #B9B1A6;
  text-align: center;
  /*border: 1px solid black;*/
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
	width: 100%;
}

a {
	/*word-break: break-all;*/
	text-decoration: none;
	color: #665;
}

a:hover {
	font-weight: bold;
	color: black;
	color: #DDD;
}

a[href="press.php"]{
	background: rgba(0, 0, 0, 0.2);
}