/*
* File: press.css
* Authors: Ethan Pullen & Dhruv Joshi
* Date: 2/2019
*/

/*--------Section Styling-------*/
.press_page{
	width: 60%;
	margin: 0px 20%;
	margin-top: 80px;
	align-content: center;
	background: #967D69;
}

.press_page h1{
	width: 70%;
	margin-left: 15%;
	padding-top: 50px;
	text-align: center;
	color: white;
}

.press_page p{
	width: 70%;
	margin-left: 15%;
	padding-bottom: 20px;
	font-size: 15pt;
}
/*--------End Section Styling-------*/

/*--------Magazine Cover Rack Styling-------*/
.image_shelf{
	padding: 10px;
	margin-bottom: 80px;
}

.magazine_cover {
  float: left;
  width: calc(25% - 30px);
  margin: 5px;
  padding: 10px;
  background-color: #B9B1A6;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*--------End Magazine Cover Rack Styling-------*/

/*--------Magazine Cover Styling-------*/
img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #665;
}

a:hover {
	font-weight: bold;
	color: black;
	color: #DDD;
}
/*--------End Magazine Cover Styling-------*/

/*--------Change shade of current page-------*/
a[href="press.php"]{
	background: rgba(0, 0, 0, 0.2);
}
/*--------End shade of current page-------*/