/*
* File: services.css
* Authors: Ethan Pullen & Dhruv Joshi
* Date: 2/2019
*/

/*--------Section Styling-------*/
.services{
	width: 60%;
	margin: 0px 20%;
	margin-top: 80px;
	margin-bottom: 80px;
	align-content: center;
	background: #967D69;
}

.services p{
	width: 70%;
	margin-left: 15%;
	font-size: 15pt;
}

.services h1{
	width: 100%;
	text-align: center;
	color: white;
    margin: 0px;
    padding-top: 50px;
}

.services img{
	width: 70%;
	margin-left:15%;
	margin-bottom: 50px;
}
/*--------End Section Styling-------*/

/*--------Change shade of current page-------*/
a[href="aboutus.php"]{
	background: rgba(0, 0, 0, 0.2);
}

.sidebar a[href="services.php"] span.line{
	background: rgba(0, 0, 0, 0.2);
}
/*--------End Change shade of current page-------*/