.content{
	margin-top: 80px;
	margin-left: 20%;
	height: auto;
	position: relative;
}

.content:after{
	content: "";
  	display: table;
  	clear: both;
}

.big{
	/*float: left;*/
	display:inline-block;
	width: 50%;
	min-width: 500px;
	padding: 50px 5%;
	background-color: #B9B1A6;

}

.big p{
	width: 100%
}

.big img{
	width: 100%;
}

.big h1{
	text-align: center;
	color: white;
    margin: 0px;
}

.big .row{
	text-align: center;
}

.side{
	width: 20%;
	padding: 2%;
	margin: 0px 60px;
	background-color: #967D69;
	/*float: left;*/
	display: inline-block;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.side h3{
	color: white;
}

.side img{
	width: 100%;
}

.side a{
	color: inherit;
	text-decoration: none;
}

.side a:hover{
	text-decoration: underline;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.l{
	float: left;
	width: 35%;
}

.m{
	float: left;
	width: 25%;
}

.r{
	float: left;
	width: 40%;
}