html{
	height: 100%;
}

body {
	height: 100%;
	margin: 0%;
}

#main{
	height: calc(100% - 20px);
	overflow: hidden;
}

#image_roulette {
	width: 100%;
}

header {
	top: 0px;
	position: fixed;
	float: top;
	text-align: right;
	height: 25px;
	background: black;
	margin: 0px;
	padding: 10px;
	font-size: 20px;
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    overflow: visible;
    z-index: 1;
}


header:hover {
 	transition-duration: 0.6s;
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
}

.dd {
	/*display: inline-block;
	
	width: 60px;
	overflow: visible;*/
	float:left;
	overflow-y: visible;
	overflow-x: hidden;
	align-items: center;
	height: 50px;
}

/*.dd:hover{
	background-color: white;
}*/

.mainlink{

	padding:0px 60px;
}

.dd:hover .mainlink{
	background-color: white;
	color: black;
}

.dd a {
	color: white;
	text-decoration: none;
}

.d-content a:hover{
	background: rgba(0, 0, 0, 1);
}

.dd .d-content a .line{
	display: block;
}

.dd .d-content a .title{
	display: block;
	font-size: 11pt;
	text-indent: 10px;
}

.d-content{
	margin-top: 6.5px;
	width: 20%;
	display: none;
	position: absolute;
	z-index: 1;
}

.d-content a{
	float: none;
	display: block;
	text-align: left;
	padding: 0px 15px;
	padding-top: 10px;
	padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.dd:hover{
	overflow: visible;
}


.dd:hover .d-content{
	display:block;
}

#logo{
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
    top: 85%;
    width: 20%;
    left: 75%;
    padding:.5%;
}

#roulette_control{
	text-align: center;
	position: fixed;
	width:40%;
	left: 30%;
	top:90%;
	background-color: rgba(0, 0, 0, 0.6);
}

#circles{
	display: inline-block;
	width: 80%;
}

.triangle-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid white;
	border-bottom: 5px solid transparent;
	margin: 0px 2.5%;
}

.triangle-left:hover{
	border-top: 7.5px solid transparent;
	border-right: 15px solid white;
	border-bottom: 7.5px solid transparent;
	margin: 0px 2%;
}

.triangle-right {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid white;
	border-bottom: 5px solid transparent;
	margin: 0px 2.5%;
}

.triangle-right:hover{
	border-top: 7.5px solid transparent;
	border-left: 15px solid white;
	border-bottom: 7.5px solid transparent;
	margin: 0px 2%;
}

.circle{
	display: inline-block;
	height: 10px;
	width: 2%;
	margin: 0px 2.5%;
	border-radius: 50%;
	background-color: white;
}

.circle:hover{
	height: 15px;
	width: 3%;
	margin: 0px 2%;
}

.circle.curr{
	background-color: #000;
	height: 10px;
	width: 2%;
	margin: 0px 2.5%;
}

footer{
	position:fixed;
	top: calc(100% - 20px);
}

/*sidebar*/
.sidebar{
	width: 10%;
	float: left;
	position: fixed;
	top: 45px;
	background: rgba(0, 0, 0, .4);
}

.sidebar a{
	padding: 0px 5px;
	text-decoration: none;
}

.sidebar a:hover span{
	background-color: rgba(0, 0, 0, .6);
}

.sidebar span{
	color:white;
}

.sidebar .line{
	display: block;
}

.sidebar .title{
	display: block;
}



