
.testimonies{
	width: 90%;
	margin-top: 80px;
	float:right;
	align-content: center;
}

#intro{
	margin-top: 50px;
}

#intro #header-intro{
	text-align: center;
	font-size: 18pt;
}

#intro #main-intro{
	font-size: 12pt;
	margin: 5%;
}

.testimonial, #intro{
	margin: 0px 15%;
	width: 605px;
	border: 1px solid black;
	background: #B9B1A6;
}

.testimony{
	font-size: 12pt;
	margin: 5%;
}

.client span{
	text-align: center;
	display: block;
}

.loc{
	height:50px;
}